
app/__pycache__/routes.cpython-36.pyc
app/__pycache__/__init__.cpython-36.pyc
__pycache__/marta_blog.cpython-36.pyc
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/BlogMarta.iml
